#过滤txt文件、压缩文件 
*.txt
*.zip  
*.rar
*.log
*.z
*.pickle
*.xls
*.xlsx
*.json
*.pdf
*.db
*.csv
*.7z

# 过滤文件夹
pythreejs/
Chinese-Annotator/
concrete_NLP_tutorial/
ThinkStats2-master/
ThinkBayes-master/
lime/
blaze-tutorial/
Analytics_Vidhya/
superminhash/
intro_ds/
sentiment-analysis/

# 跟踪文件 python、jupyter notebook  
!*.py
!*.ipynb

# 跟踪文件夹
# !/mtk/one.txt
!/useful_notebook
